<div class="container mt-5">
  <h1 class="mb-4">Add Tour Log</h1>
  <form #tourLogForm="ngForm" (ngSubmit)="addTourLog(tourLogForm?.valid ?? false)" class="needs-validation" novalidate>
    <div class="form-group">
      <label for="dateTime">Date/Time</label>
      <input
        type="datetime-local"
        class="form-control"
        id="dateTime"
        [(ngModel)]="addTourLogForm.dateTime"
        name="dateTime"
        required
      />
      <div class="invalid-feedback">Please provide a valid date and time.</div>
    </div>
    <div class="form-group">
      <label for="comment">Comment</label>
      <input
        type="text"
        class="form-control"
        id="comment"
        [(ngModel)]="addTourLogForm.comment"
        name="comment"
        required
      />
      <div class="invalid-feedback">Please provide a comment.</div>
    </div>
    <div class="form-group">
      <label for="difficulty">Difficulty</label>
      <input
        type="text"
        class="form-control"
        id="difficulty"
        [(ngModel)]="addTourLogForm.difficulty"
        name="difficulty"
        required
      />
      <div class="invalid-feedback">Please provide a difficulty level.</div>
    </div>
    <div class="form-group">
      <label for="totalDistance">Total Distance (km)</label>
      <input
        type="number"
        class="form-control"
        id="totalDistance"
        [(ngModel)]="addTourLogForm.totalDistance"
        name="totalDistance"
        required
      />
      <div class="invalid-feedback">Please provide the total distance.</div>
    </div>
    <div class="form-group">
      <label for="totalTime">Total Time (mins)</label>
      <input
        type="number"
        class="form-control"
        id="totalTime"
        [(ngModel)]="addTourLogForm.totalTime"
        name="totalTime"
        required
      />
      <div class="invalid-feedback">Please provide the total time.</div>
    </div>
    <div class="form-group">
      <label for="rating">Rating</label>
      <app-star-rating [(rating)]="addTourLogForm.rating"></app-star-rating>
      <div class="invalid-feedback">Please provide a rating.</div>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>
